---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}

<a href="https://info.flagcounter.com/6aAe"><img
  src="https://s04.flagcounter.com/map/6aAe/size_s/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/"
  alt="Flag Counter" border="0"></a>
<!--<a href="https://info.flagcounter.com/jujA"><img-->
   <!--src="https://s01.flagcounter.com/map/jujA/size_l/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/"-->
   <!--alt="Flag Counter" border="0"></a>-->
<!--<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=cbcbcb&w=268&t=tt&d=J197RJ1YCu3LMd-xtEzNvBIDLg7m0pqWLxc2aaXBWdc&co=2d78ad&cmo=5fa08c&cmn=5fa08c&ct=ffffff'></script>-->
